[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/yuvaldolev
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yuvaldolev
	label-Verified = -1..+1 group user/yuvaldolev
	push = group user/yuvaldolev
	read = group user/yuvaldolev
	rebase = group user/yuvaldolev
	removeReviewer = group user/yuvaldolev
	submit = group user/yuvaldolev
[access "refs/heads/*"]
	create = group user/yuvaldolev
	push = +force group user/yuvaldolev
	pushMerge = group user/yuvaldolev
	read = group user/yuvaldolev
[access "refs/tags/*"]
	push = group user/yuvaldolev
	push = +force group user/yuvaldolev
